<page-header></page-header>
  <full-content (fullscreenChange)="fullChange($event)">
    <nz-card>
      <div nz-row class="mb-md">
        <div nz-col nzSpan="12">
          <form nz-form nzLayout="inline" se-container>
            <se label="Serial Number" labelWidth="0">
              <input nz-input [(ngModel)]="args.userid" name="userid" id="userid" />
            </se>
            <se>
              <button nz-button [nzType]="'primary'" (click)="st.load()" [nzLoading]="http.loading">Search</button>
              <button nz-button [disabled]="http.loading">Clear</button>
            </se>
          </form>
        </div>
        <div nz-col nzSpan="12">
          <div class="text-right">
            <button nz-button nz-dropdown [nzDropdownMenu]="exportMenu">
              <span>Export</span>
              <i nz-icon nzType="down"></i>
            </button>
            <nz-dropdown-menu #exportMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Excel</li>
                <li nz-menu-item>JSON</li>
                <li nz-menu-item>PNG</li>
              </ul>
            </nz-dropdown-menu>
            <button nz-button [nzType]="'default'" full-toggle class="ml-sm">Full</button>
            <button nz-button [nzType]="'default'" full-toggle class="ml-sm" (click)="showNewModal()">Add Meter</button>

          </div>
        </div>
      </div>
      <st
        #st
        [data]="smartmeters"
        [req]="{ params: args }"
        [res]="{ reName: { list: 'results' } }"
        [total]="total"
        [ps]="ps"
        [columns]="columns"
        [scroll]="scroll"
      >
        <ng-template st-row="smartmeters" let-item let-index="index">
          <g2-mini-bar
            height="15"
            theme="mini"
            color="#999"
            borderWidth="3"
            [padding]="[0, 0, 0, 0]"
            [data]="smartmeters"
            tooltipType="mini"
          ></g2-mini-bar>
        </ng-template>
      </st>
    </nz-card>
  </full-content>
  <nz-modal
  [(nzVisible)]="isEditModalVisible"
  nzTitle="Edit Smart Meter"
  (nzOnCancel)="handleEditCancel()"
  (nzOnOk)="handleEditOk()"
  [nzFooter]="modalFooter"
  >
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input serial number!">
            <nz-input-group nzPrefixIcon="info">
              <input type="text" nz-input formControlName="serialno" placeholder="Serial No." />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input Description">
            <nz-input-group nzPrefixIcon="edit">
              <input type="text" nz-input formControlName="description" placeholder="Description." />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please select manufacturer">
            <nz-select formControlName="manufacturer_id" nzAllowClear nzPlaceHolder="Select manufacturer">
              <nz-option *ngFor="let manufacturer of allmanufacturers" [nzValue]="manufacturer._id" [nzLabel]="manufacturer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleEditCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleEditOk()" [nzLoading]="isEditLoading">Update</button>
      </ng-template>
  </nz-modal>
  <nz-modal
  [(nzVisible)]="isNewModalVisible"
  nzTitle="Add Smart Meter"
  (nzOnCancel)="handleNewCancel()"
  (nzOnOk)="handleNewOk()"
  [nzFooter]="modalFooter"
  >
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input serial number!">
            <nz-input-group nzPrefixIcon="info">
              <input type="text" nz-input formControlName="serialno" placeholder="Serial No." />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input Description">
            <nz-input-group nzPrefixIcon="edit">
              <input type="text" nz-input formControlName="description" placeholder="Description." />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please select manufacturer">
            <nz-select formControlName="manufacturer_id" nzAllowClear nzPlaceHolder="Select manufacturer">
              <nz-option *ngFor="let manufacturer of allmanufacturers" [nzValue]="manufacturer._id" [nzLabel]="manufacturer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleNewCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleNewOk()" [nzLoading]="isNewLoading">Create</button>
      </ng-template>
  </nz-modal>
